{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

	<script src="https://cesium.com/downloads/cesiumjs/releases/1.68/Build/Cesium/Cesium.js"></script>
	<link href="https://cesium.com/downloads/cesiumjs/releases/1.68/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript" 	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
</head>
<body>
	<form action="." method="post" enctype="application/x-www-form-urlencoded">
    {{ point_form.name.label_tag }}
    {{ point_form.x }}
    {{ point_form.y }}
    {{ point_form.name.errors }}
    <button type="submit">Submit</button>
</form>
<noscript>
	<div align="center">
		Извините, для работы приложения нужен включённый Javascript
	</div>
</noscript>
</body>
</html>